%buttonDefaults {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: var(--font-primary);
  font-size:clamp(0.6rem,4vw,0.8rem);
  font-weight: 400;
  transition: 0.4s;
  border: 1px solid;
  color: var(--color-black);
}

.btn {
  @extend %buttonDefaults;
  border-radius: 255px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 0 35px;
  height: 2.875rem;

  &:hover {
    filter: brightness(1.2);
  }

  &.yellow {
    background-color: var(--color-yellow);
    border: 2px solid var(--color-yellow);
    height: 51px;
    padding: 0 47px;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
