.title {
  font-family: var(--font-primary);
  font-size: clamp(2.1rem, 3vw, 2.6875rem);
  font-weight: 700;
  color: var(--color-black);

  &.bg.white {
    color: var(--color-white);
  }

  &.md.black {
    font-size: clamp(1, 5rem, 3vw, 2rem);
  }

  &.sm.blue {
    color: var(--color-blue);
    font-size: clamp(0.6rem, 3vw, 0.875rem);
  }

  &.sm.black {
    color: var(--color-black);
    font-size: clamp(0.6rem, 3vw, 0.875rem);
  }
}

.paragraph {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-black);
  font-size: clamp(0.8rem, 3vw, 1rem);

  &.white {
    color: var(--color-white);
  }

  &.md {
    font-size: clamp(0.6rem, 3vw, 0.8rem);
  }
}
