<section class="section__blue">
  <div class="container md">
    <div>
      <h2 class="title bg white">Find the best developers</h2>
      <p class="paragraph white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam libero
        massa, placerat in tempor non, tempor in quam. Sed suscipit laoreet
        lorem tincidunt lobortis
      </p>
      <a class="btn yellow" routerLink="/contactPage" RouterLinkActive="active"
        >Learn More</a
      >
    </div>
  </div>
</section>
