.developer__card {
  img {
    width: 100%;
    max-width: 240px;
    border-radius: 40px;
  }

  h3 {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 50px;
    width: 100%;
    max-width: 200px;
    line-height: 25px;
    font-size: clamp(0.7rem, 4vw, 0.9rem);
  }
}
