.flexbox {
  padding: 130px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 72vh;

  h3 {
    text-align: center;
    width: 100%;
    max-width: 349px;
    font-size: clamp(1.5rem, 3vw, 2rem);
  }

  p {
    font-size: clamp(0.8rem, 4vw, 1rem);
  }

  span {
    font-size: clamp(0.8rem, 4vw, 1rem);
  }

  @media (max-width: 1024px) {
    .flexbox {
      height: 65vh;
    }
  }
}
